.button {
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.primary {
    background-color: var(--primary-orange);
    color: var(--white);
}

.secondary {
    background-color: var(--brown-bg);
    color: var(--primary-yellow);  
}

.secondary-yellow {
    background-color: var(--secondary-yellow);
    color: var(--black);
}


.outlined {

}


.small {
    font-size: 16px;
    padding: 10px 16px 8px 16px;
}

.medium {
    font-size: 24px;
    padding: 12px 26px 10px 26px;
}

.large {
    font-size: 24px;
    padding: 20px 32px 16px 32px;
}

img {
    object-fit: cover;
}

.small img {
    width: 22px;
    height: 22px;
    padding-bottom: 2px;
}

.medium img {
    width: 22px;
    height: 22px;
}

.large img {
    width: 26px;
    height: 26px;
    padding-bottom: 4px;
    margin-left: .8rem;
}