<div class="about-area">
  <div class="about-container">
    <div class="upper-container">
      <div class="manati-image">
        <img src="../../../assets/espaco-manati2.jpg" alt="" />
      </div>
      <div class="manati-description">
        <div class="image-description-label">
          DESDE 2014, O MANATÍ É UM ÍCONE DA CULINÁRIA PRAIANA
        </div>
        <div class="description-title">
          <app-title title="Conheça o Manatí"></app-title>
        </div>
        <div class="description-text">
          <div>
            <span>Trazemos em sua essência anos de tradição e autenticidade</span
            >.
              combinando sabores intensos e aromas envolventes com técnicas
              culinárias modernas.
          </div>
          <div>
            Cada prato é uma
            <span
              >celebração dos ingredientes mais frescos, preparados com
              maestria</span
            >
            para proporcionar uma experiência inesquecível.
          </div>
        </div>
      </div>
    </div>
    <div class="downer-container">
      <div class="upper-div">
        <div class="opinion-container">
          <div class="opinion-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
            dolores libero earum perspiciatis non officia amet facere ab nemo
            sint?
          </div>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <div class="opinion-container">
          <div class="opinion-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ullam
            culpa eos earum error atque est voluptatibus tempora, exercitationem
            ad.
          </div>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <div class="opinion-container">
          <div class="opinion-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
            voluptatem ullam inventore illum, soluta harum praesentium in
            incidunt officiis? Sapiente!
          </div>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>
      <div class="downer-div">
        <div class="opinion-container">
          <div class="opinion-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            reiciendis, at ad neque harum blanditiis esse excepturi officiis
            animi accusamus.
          </div>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <div class="opinion-container">
          <div class="opinion-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iure
            culpa sequi sunt. Dolores nostrum sequi impedit non, corrupti autem.
          </div>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
