<div class="about-area">
  <div class="about-container">
    <div class="upper-container">
      <div class="manati-image">
        <app-carousel [images]="images"></app-carousel>
      </div>
      <div class="manati-description">
        <div class="image-description-label">
          DESDE 2014, O MANATÍ É UM ÍCONE DA CULINÁRIA CONTEMPORÂNEA
        </div>
        <div class="description-title">
          <app-title title="Conheça o Manatí" cor="preto"></app-title>
        </div>
        <div class="description-text">
          <div>
            Nosso restaurante oferece especialidades em
            <span
              >frutos do mar, carnes e saladas, com destaque em sobremesas e
              drinks</span
            >. Operamos como uma empresa familiar, garantindo alta
            <span>qualidade e uma experiência gastronômica única</span>.
            <br />
            <br />
            Localizado em um espaço amplo e acolhedor, com brinquedoteca,
            aquários e área pet friendly,
            <span>servimos buffet variado no almoço e menu à la carte</span>,
            complementados por música ao vivo nos fins de semana.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
