<div class="home">
  <div
    class="image-container"
    [ngClass]="{ 'background-blur': !isMobileScreen }"
  >
    <ng-container *ngIf="!isMobileScreen">
      <div class="background-image">
        <img src="../../../assets/manati-home-img.jpg" alt="" />
      </div>
    </ng-container>
    <ng-container *ngIf="isMobileScreen">
      <video
        autoplay
        muted
        defaultMuted
        loop
        playsInline
        [muted]="'muted'"
        class="background-video"
        #video
      >
        <source src="../../../assets/home-video-mobile.mp4" type="video/mp4" />
        Seu browser não suporta vídeos HTML5
      </video>
      <ng-container *ngIf="autoplayFailed">
        <div class="background-image">
          <img src="../../../assets/home-image-mobile.png" alt="" />
        </div>
      </ng-container>
    </ng-container>
    <div class="home-description" *ngIf="!isMobileScreen">
      <div class="image-description-label">
        {{ "Uma nova experiência" | uppercase }}
      </div>
      <div class="image-description">
        Aprecie o melhor<br />
        da <span>culinária contemporânea!</span>
      </div>
    </div>
  </div>
  <div class="reserva-area">
    <div class="overlap-container">
      <div class="overlap-card">
        <div class="card-item">
          <i class="fa-solid fa-shrimp"></i>
          <div class="card-item-label">
            Buffet e À la carte de frutos do mar
          </div>
        </div>
        <div class="card-item">
          <i class="fa-solid fa-guitar"></i>
          <div class="card-item-label">Programação Musical</div>
        </div>
        <div class="card-item">
          <i class="fa-solid fa-children"></i>
          <div class="card-item-label">Espaço Kids</div>
        </div>
        <div class="card-item">
          <i class="fa-solid fa-dog"></i>
          <div class="card-item-label">Pet Friendly</div>
        </div>
      </div>
    </div>
    <div class="reserva-container">
      <div class="reserva-title">
        <app-title cor="preto" title="Faça sua Reserva"></app-title>
      </div>
      <div class="reserva-description">
        Comemore seus momentos mais especiais com a gente!
      </div>
      <div class="reserva-btns">
        <app-button
          size="custom"
          type="secondary-yellow"
          buttonLabel="Reservas"
          fontFamily="montserrat"
          fontWeight="bold"
          icon="fa-solid fa-arrow-right-long"
          whatsappMessage="Olá, vim pelo site. Gostaria de fazer uma reserva!"
        >
          ></app-button
        >
      </div>
    </div>
  </div>
</div>
