<div class="home">
  <div class="image-container">
    <div class="home-description">
      <div class="image-description-label">
        {{ "Uma nova experiência" | uppercase }}
      </div>
      <div class="image-description">
        Aprecie o melhor<br />
        da <span>culinária contemporânea!</span>
      </div>
      <app-button [size]="buttonSize" icon="whatsapp"></app-button>
    </div>
  </div>
  <div class="reserva-area">
    <div class="overlap-container">
      <div class="overlap-card">
        <div class="card-item">
          <i class="fa-solid fa-shrimp"></i>
          <div class="card-item-label">
            Buffet e À la carte de frutos do mar
          </div>
        </div>
        <div class="card-item">
          <i class="fa-solid fa-guitar"></i>
          <div class="card-item-label">Programação Musical</div>
        </div>
        <div class="card-item">
          <i class="fa-solid fa-children"></i>
          <div class="card-item-label">Espaço Kids</div>
        </div>
        <div class="card-item">
          <i class="fa-solid fa-dog"></i>
          <div class="card-item-label">Pet Friendly</div>
        </div>
      </div>
    </div>
    <div class="reserva-container">
      <div class="reserva-title">
        <app-title cor="preto" title="Faça sua Reserva" ></app-title>
      </div>
      <div class="reserva-description">
        Comemore seus momentos mais especiais com a gente!
      </div>
      <div class="reserva-btns">
        <app-button
          size="custom"
          type="secondary-yellow"
          buttonLabel="Aniversário"
          fontFamily="montserrat"
          fontWeight="bold"
          icon="fa-solid fa-arrow-right-long"
          whatsappMessage="Olá, vim pelo site. Quero fazer uma reserva para aniversário!"
        >
          ></app-button
        >
        <app-button
          size="custom"
          type="secondary-yellow"
          buttonLabel="Confraternizações"
          fontFamily="montserrat"
          fontWeight="bold"
          icon="fa-solid fa-arrow-right-long"
          whatsappMessage="Olá, vim pelo site. Quero fazer uma reserva para uma confraternização!"
        >
          ></app-button
        >
      </div>
    </div>
  </div>
</div>
