<div class="whatsapp-logo">
  <a href="https://wa.me/556184914194?text=Olá,%20vim%20pelo%20site!" target="_blank" aria-label="Entre em contato conosco pelo whatsapp">
    <img src="../assets/whatsapp-logo.png" alt="Whatsapp">
  </a>
</div>
<app-navbar (navigateToSection)="scrollToSection($event)"></app-navbar>
<div id="home">
  <app-home></app-home>
</div>
<div id="programacao">
  <app-programacao></app-programacao>
</div>
<div id="sobre">
  <app-about></app-about>
</div>
<div id="espaco">
  <app-espaco></app-espaco>
</div>
<div id="cardapio">
  <app-cardapio></app-cardapio>
</div>
<app-duvidas></app-duvidas>
<app-faq></app-faq>
<app-localizacao></app-localizacao>
<app-footer></app-footer>
<app-toast></app-toast>
