<div class="faq-area">
  <div class="faq-container">
    <div class="faq-title">
      <app-title title="FAQ" font="satoshi" fontWeight="bold" cor="preto"></app-title>
    </div>
    <div class="divider">
      <app-divider></app-divider>
    </div>
    <div class="faq-list">
      <ng-container *ngFor="let question of faqQuestions">
        <app-faq-item [question]="question"></app-faq-item>
      </ng-container>
    </div>
    <div class="button">
      <app-button
        icon="whatsapp"
        [size]="buttonSize"
        whatsappMessage="Olá, vim pelo site. Quero tirar uma dúvida!"
      ></app-button>
    </div>
  </div>
</div>
