<div class="espaco-area">
  <div class="espaco-container">
    <div class="espaco-label">
      O MELHOR E MAIS ELEGANTE ESPAÇO PARA VOCÊ E SUA FAMÍLIA!
    </div>
    <div class="espaco-title">
      <app-title title="Conheça Nosso Espaço"></app-title>
    </div>
    <div class="espaco-images">
      <div class="espaco-image">
        <img src="../../../assets/manati-espaco.jpg" alt="">
      </div>
      <div class="espaco-image">
        <img src="../../../assets/manati-espaco.jpg" alt="">
      </div>
      <div class="espaco-image">
        <img src="../../../assets/manati-espaco.jpg" alt="">
      </div>
      <div class="espaco-image">
        <img src="../../../assets/manati-espaco.jpg" alt="">
      </div>
    </div>
  </div>
</div>