<div class="duvidas-area">
  <div class="duvidas-container">
    <div class="duvidas-label">TIRE SUAS DÚVIDAS</div>
    <div class="duvidas-description">
      Curioso sobre o nosso cardápio ou eventos <span>especiais ?</span><br> Estamos aqui para ajudar!
    </div>
    <div class="duvidas-btn">
      <app-button
        type="outlined"
        size="large"
        buttonLabel="FALE CONOSCO"
        whatsappMessage="Olá, vim pelo site. Quero tirar uma dúvida!"
      ></app-button>
    </div>
  </div>
</div>
