.faq-item-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 66px;
    cursor: pointer;
}

.showed-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-btn {
    font-size: 40px;
    margin-right: 4rem;
}

.faq-pergunta {
    margin-right: 2rem;
    font-family: satoshi;
    font-size: 1.5rem;
    font-weight: 600;
}

.answer {
    font-family: satoshi;
    margin-top: 34px;
    font-size: 1.1rem;
}

.montserrat {
    font-family: montserrat !important;
}

@media (max-width: 835px) {
    .faq-pergunta {
        font-size: 1.2rem;
    }

    .action-btn {
        margin: 0;
        font-size: 1.9rem;
    }
}