<div class="cardapio-area">
  <div class="cardapio-container">
    <div class="cardapio-title">
      <app-title title="Nosso Cardápio" cor="preto"></app-title>
    </div>
    <div class="cardapio-label">
      Conheça nossos pratos, drinks e sobremesas mais famosos e recomendados pelos nossos clientes!
    </div>
    <div class="cardapio-items">
      <div class="left">
        <div class="cardapio-item" (click)="goToMenu()">
          <img src="../../../assets/Manati-salmao.jpg" alt="Pratos principais" />
          <div class="label">
            <span>Pratos Principais</span>
            <i class="fa-solid fa-arrow-right-long"></i>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="top">
          <div class="cardapio-item" (click)="goToMenu()">
            <img src="../../../assets/Manati-drink-vermelho.jpg" alt="Drinks e bebidas" />
            <div class="label">
              <span>Drinks e Bebidas</span>
              <i class="fa-solid fa-arrow-right-long"></i>
            </div>
          </div>
          <div class="cardapio-item" (click)="goToMenu()">
            <img src="../../../assets/manati-sobremesa-redvelvet.jpg" alt="Sobremesas" />
            <div class="label">
              <span>Sobremesas</span>
              <i class="fa-solid fa-arrow-right-long"></i>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="cardapio-item" (click)="goToMenu()">
            <img src="../../../assets/manati-happy-hour.jpg" alt="Happy Hour" />
            <div class="label">
              <span>Happy Hour</span>
              <i class="fa-solid fa-arrow-right-long"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>